<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(ENV_APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(ENV_IOS_APP_ID)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(ENV_APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(ENV_IOS_VERSION_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(ENV_IOS_VERSION_CODE)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${ENV_APP_SCHEME}</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please grant the permission to access your camera to...</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow $(ENV_APP_NAME) user to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow $(ENV_APP_NAME) user to access your location</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(ENV_APP_NAME) would like to save images to your device.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please grant the permission to access your photo library</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>The application does not use this feature</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Black.otf</string>
		<string>SFProDisplay-BlackItalic.otf</string>
		<string>SFProDisplay-Bold.otf</string>
		<string>SFProDisplay-BoldItalic.otf</string>
		<string>SFProDisplay-Heavy.otf</string>
		<string>SFProDisplay-HeavyItalic.otf</string>
		<string>SFProDisplay-Light.otf</string>
		<string>SFProDisplay-LightItalic.otf</string>
		<string>SFProDisplay-Medium.otf</string>
		<string>SFProDisplay-MediumItalic.otf</string>
		<string>SFProDisplay-Regular.otf</string>
		<string>SFProDisplay-RegularItalic.otf</string>
		<string>SFProDisplay-Semibold.otf</string>
		<string>SFProDisplay-SemiboldItalic.otf</string>
		<string>SFProDisplay-Thin.otf</string>
		<string>SFProDisplay-ThinItalic.otf</string>
		<string>SFProDisplay-Ultralight.otf</string>
		<string>SFProDisplay-UltralightItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<string>YES</string>
	<key>CodePushDeploymentKey</key>
	<string>$(ENV_CODE_PUSH_DEPLOYMENT_KEY_IOS)</string>
</dict>
</plist>
